td, th {
  vertical-align: top !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0;
}

svg {
  height: 156px;
}

.table {
  table-layout: fixed;
}

td:first-of-type,
td:first-of-type > div {
  height: 150px;
}
